*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    color: black;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
}
.rows{
    max-width:1140px;
    margin: 0 auto;
}
.icon{
    margin-top: 20px;
    font-size: 50px;
    color: #f4821e;
}
h3{
    font-weight: 100;
    color: #575252;
    text-decoration: underline;
}
.position{
    text-align: center;
}
.mar{
    margin-bottom: 20px;
}
.btn-warning{
    background-color: #f4821e;
    
}
.btn-warning:hover{
   background:linear-gradient(to left, #ff9900 31%, #ffcc00 102%);
}
.back{
    width:100px;
    padding: 5px;
    background-color: rgba(255, 165, 0, 0.73);
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}
.back:hover{
    background-color: #f4821e;
}

